<!DOCTYPE html>
<html lang="en">
<head>
  <title>To-do || App
  </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <!-- font awesome from w3school -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <!-- font awesome from w3school -->
  <link rel="stylesheet" href="/css/custom.css">
  <!-- model jQuery -->
  <!-- Remember to include jQuery :) ||wesite link->https://jquerymodal.com/ -->
  <script src="jquery-3.5.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>
  <style>
     body {
       background: #f1f1f1 url("/images/mountain.png") repeat-x 0 0;
     }
  </style>
  
  
</head>
<body>
  {{{body}}}
</body>
<script type="text/javascript" src="/js/custom-script.js"></script>
<script type="text/javascript" src="/js/login-page.js"></script>
</html>
