/* .fa-edit {
    cursor: pointer;

}
.fa-edit:hover {
    font-size: 22px;
    transition: 0.9 ease;;
}

.fa-trash {
    cursor: pointer;

}
.fa-trash:hover {
    font-size: 22px;
    transition: 0.9 ease;
}

.fa-gears {
    cursor: pointer;

}
.fa-gears:hover {
    font-size: 22px;
    transition: 0.9 ease;
} */
